* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height: 70vh;
  border: 1px solid black;
}
.row-content{
  width: 70%;
  height: 100%;
  margin: auto;
  border: 1px solid blue;
}
.text{
  width: 50%;
  height:
}
