* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext', 'HelveticaNeue', Helvetica,Arial,sans-serif; */
}
h1, h2, h3 {
  font-family: 'AvenirNextBold';
}

.wrapper {
  width: 100vw;
  height: 70vh;
  border: 1px solid black;
}

.wrapper .row-content {
  width: 1600px;
  height: 100%;
  margin: auto;
  border: 1px solid blue;
}

.horizontal {
  float: left;
  display: inline-block;
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
}

.text, .supplement {
  width: 50%;
  height: 80%;
  border: 1px solid red;
}

/* *************** style and vertical align of the first row content ***************  */
.vertical-align-text {
  border: 1px solid green;
  display: inline-block;
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
}

.main-box {
  font-size: 180%;
  color: #2D3E50;
}
 .main-box h1 {
   font-size: 2.7em;
   font-weight: 700;
   margin-bottom: 25px;
 }

.main-box p  {
  width: 80%;
   line-height: 35px;
 }

 .main-box #button-adiacent-text {
   float: left;
   width: 350px;
   height: 27.5px;
   position: relative;
   top: 60px;
   font-size: 60%;
   line-height: 25px;
 }

 .row-content #darlingastronaute {
   height: 100%;
   width: 40%;
   background-image: url(png/darlingastronaute.png);
   background-repeat: no-repeat;
   background-position: -20px bottom;
   background-size: 595px auto;
 }

/* ********************************************************************** */

.big-btn  {
   width: 260px;
   height: 100px;
   border: none;
   border-radius: 8px;
   background: #F27655;
   color: #FFF;
   float: left;
   margin: 35px 30px 0 0;
   font-size: 27px;
   font-weight: 600;
 }


/* *************** style and vertical align of the second row content *************** */
.row-content .vertical {
  width: 100%;
  height: 50%;
  border: 1px solid red;
  text-align: center;
}
.vertical #logo-mediumsize {
  width: 220px;
  margin-top: 80px;
}
.vertical h2 {
  width: 900px;
  margin: auto;
  font-size: 450%;
  color: #FFF;
  margin-top: 5px;
  margin-bottom: 25px;
}
.vertical p {
  width: 900px;
  margin: auto;
  font-size: 23px;;
  font-weight: 600;
  color: #FFF;
  margin-top: 5px;
}

.whitebox-container {
  width: 1400px;
  height: 200px;
  margin: auto;
  position: relative;
  top: calc(100% / 2);
  transform: translateY(-50%);
  box-sizing: content-box;
  border: 2px solid #CBD6E2;
  border-radius: 5px;
}

.whitebox-container :hover {
  background-color: #FFF;
}

.white-box{
  width: 350px;
  height: 200px;
  float: left;
  background-color: #F2F5F8;
  padding: 30px 10px;
}

div.right-separator :not(:last-of-type) {
  border-right: 2px solid #CBD6E2;
}

div.whitebox-container :first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.whitebox-container :last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

a {
  text-decoration: none;
}

.white-box h4 {
  font-family: 'AvenirNext';
  font-size: 180%;
  color: #2D3E50;
  margin: 10px 0;
}

/* ********************************************************************** */

p.box-inner-text {
  width: 100%;
  font-family: 'AvenirNext';
  font-size: 25px;
  font-weight: 400;
  color: #425b76;
  margin: 5px 0;
  line-height: 30px;
}

/* *************** style and vertical align of the third, fourth and fifth row content *************** */

.supplement #crmfree-image {
  width: 90%;
  position: relative;
  top: 50px;
}

.supplement #marketinghub-image {
  position: relative;
  top: 30px;
  left: 10px;
  width: 88%;
}

.supplement #saleshub-image {
  position: relative;
  top: 40px;
  width: 94%;
}

.box-feature-text h3 {
  font-size: 300%;
  color: #2D3E50;
  margin-bottom: 30px;
}

.box-feature-text .popular-features {
  width: 100%;
  clear: both;
  font-size: 22px;
  font-weight: 700;
  color: #2D3E50;
  padding: 50px 10px 30px;
  position: relative;
}

.popular-features::after {
  content: "";
  position: absolute;
  height: 1px;
  margin-left: 10px;
  border-bottom: 1px solid #425b76;
  top: 60px;
  width: 70%;
}

.box-feature-text ul {
  list-style: none;
  padding-left: 10px;
}

.box-feature-text ul li {
  display: inline-block;
  margin-right: 20px;
  color: #2D3E50;
  font-size: 21px;
  font-family: 'AvenirNext';
}


/* ********************************************************************** */


/* *************** style and vertical align of the sisxth row content *************** */

.wrapper.small {
  height: 40vh;
}

.only-txt {
  width: 70%;
}

.only-btn {
  width: 30%;
}

.box-feature-text h4 {
  font-family: 'AvenirNextBold';
  font-size: 23px;
  margin-bottom: 28px;
  color: #FF7A59;
}

.big-btn#centered {
  margin: 0 auto;
  position: relative;
  top: calc(100% / 2);
  left: calc(100% / 2);
  transform: translate(-50%, -50%);

}

/* ********************************************************************** */


/* *************** style and vertical align of the sisxth row content *************** */

.bg-gradientblue {
  height: 90vh;
  background-image: linear-gradient(0deg,#00a4bd,#00bda5);
}

.bg-gradientblue h2 {
  margin-top: 80px;
  width: 1000px;
  font-size: 45px;
}

#senteces-blue-box {
  margin-top: 40px;
  width: 1000px;
  font-family: 'AvenirNext';
  font-weight: 200;
  font-size: 23px;
}

/* ********************************************************************** */



.bg-grey {
  background-color: #F2F5F8;
}

.bg-orange {
  /* background-color: #F27655; */
  background-image: linear-gradient(180deg,#f07155,#ff8f59);
}

.bg-texture {
  background: #f2f5f8 url(svg/bg-texture.svg) 0 0 no-repeat;
  background-size: auto 150%;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(ttf/HelveticaNeue.ttff);
}
@font-face {
    font-family: 'AvenirNext';
    src: url(otf/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: 'AvenirNextBold';
    src: url(otf/AvenirNextLTPro-Bold.otf);
}
